.all-watches-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .all-watches {
        width: 73.5%;
        display: flex;
        flex-direction: column;
        .labels {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid #dbcdc4;
            padding: 48px 0 14px;
            .empty-div {
                width: 6%;
            }
            .image {
                width: 6.5%;
            }
            .brand {
                width: 21.8%;
            }
            .scu {
                width: 17.5%;
            }
            .price {
                width: 12.5%;
            }
            .sale-price {
                width: 13.5%;
            }
            .quantity {
                width: 7.8%;
            }
            .segment {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                p {
                    font-family: 'LatoRegular';
                    font-size: 12pt;
                    color: #7583a0;
                }
            }
        }
    }
}

.watches-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
        }
        .selected-watch {
            border: 1px solid #ddccb8;
            box-shadow: 0 0 43px rgba(169, 131, 107, 0.2);
            animation: fadeIn ease 1s;
            @keyframes fadeIn {
                0% {
                    opacity:0.1;
                }
                100% {
                    opacity:1;
                }
            }
        }
        .watch {
            border: none;
        }
    }
}
