@font-face {    
    font-family: 'LatoRegular';    
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {    
    font-family: 'LatoBold';    
    src: url('fonts/Lato-Bold.ttf');
}

@font-face {    
    font-family: 'LatoMedium';    
    src: url('fonts/Lato-Medium.ttf');
}

@font-face {    
    font-family: 'ButlerBold';    
    src: url('fonts/Butler_Bold.otf');
}

@font-face {    
    font-family: 'ButlerBlack';    
    src: url('fonts/Butler_Black.otf');
}

@font-face {    
    font-family: 'OpenSansRegular';    
    src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {    
    font-family: 'OpenSansBold';    
    src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {    
    font-family: 'FontAwesome5Regular';    
    src: url('fonts/FontAwesome5Regular.otf');
}




