.header-wrapper {
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: center;
    background-color: white;
    .header {
        width: 73.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $primaryColor;
        flex-wrap: wrap;
    }
}

.header-logo {
    height: 100%;
    border-right: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15.2%;
    h1 {
        font-size: 18pt;
        letter-spacing: 11px;
        font-family: 'ButlerBlack';
        text-transform: uppercase;
        line-height: 18pt;
    }
    h2 {
        text-transform: uppercase;
        font-family: 'FontAwesome5Regular';
        font-size: 8pt;
        letter-spacing: 5.5px;
        margin-top: 5px;
    }
}

.header-cart {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    width: 15.2%;
    .cart {
        height: 100%;
        position: relative;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: 0.1s ease-in-out;
        }
        .cart-icon {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -17px;
            img {
                max-width: 100%;
            }
        }
        .cart-number {
            width: 20px;
            height: 20px;
            background-color: $primaryColor;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 15px;
            left: 41px;
            z-index: 10; 
            p {
                color: white;
                font-size: 9pt;
                font-family: 'LatoRegular';
            }
        }
    }
    .total-amount {
        width: 55%;
        display: flex;
        flex-direction: column;
        p { 
            font-family: 'LatoBold';
            font-size: 8pt;
            line-height: 6pt;
            margin-top: -4px;
        }
        h3 {
            font-family: 'LatoRegular';
            font-size: 14pt;
            color: $secondaryColor;
            margin-top: 4px;
        }
    }
}

@media only screen and (max-width: 1260px) {
    .header {
        width: 85%;
    }
    .header-logo {
        width: 25%;
    }
    .header-cart {
        width: 25%;
    }
} 
@media only screen and (max-width: 960px) {
    .header-logo {
        width: 36%;
    }
    .header-cart {
        width: 35%;
    }
} 
// @media only screen and (max-width: 480px) {
//     .header-logo {
//         width: 90%;
//     }
//     .header {
//         flex-direction: column;
//     }
// } 